.settings {
  display: flex;
  margin: 2%;
  justify-content: center;
  flex-direction: column;
}

.settings__container {
  display: flex;
  flex-direction: column;
  min-width: 500px;
  border: 1px solid lightgray;
  padding: 2%;
  margin-left: 15%;
  margin-right: 15%;
}

.settings__title {
  display: flex;
  justify-content: center;
}

.settings__charSeed {
  margin: 5px 8px;
}

.settings__charSeed > input {
  width: 100%;
}

.settings__dropdown {
  margin-top: 5px;
  margin-bottom: 5px;
}
